th,
td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

table {
    border-collapse: collapse;
    width: 50%;
    margin: 0 auto;
}

label {
    font-weight: bold;
    margin-right: 10px;
}
