.container {
    padding: 40px 50px;
    width: auto;
}

#article-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.card-holder {
    margin: 0;
    width: 190px;
    margin-right: 50px;
    margin-bottom: 30px;
}
